<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TactixBoard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D27C5251E255F7C004D1BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DA4E17A1B9AD9B800001794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DA4E18F1B9AD9B800001794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
